/* ================ GERAL ================  */
@font-face {
     font-family: Nightmare_Codehack;
     src: local(./fonts/Nightmare_Codehack.otf), url(Nightmare_Codehack.otf);
}
*{
	margin:  0;
	padding: 0;
}
html,body{
    width: 100%;
    height:100%;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #212121;
}

main {
	flex: 1 0 auto;
}
.colorbluesite-text{
	color: #2B8FC4;
}
.colorbluesite-background{
	color: #2B8FC4;
}
.colorblacksite-text{
	color: #212121;
}
.reveal1, .reveal2, .reveal3{
	opacity: 0;
}
.parallax-container .parallax img{
	z-index: -1;
	filter: brightness(20%);
}
.darkness{
	filter: brightness(20%);
}
.btn, .btn-large, .btn-small{
	background-color: #2B8FC4;
}
.sidenav{
	z-index: 999;
}
.sidenav-overlay{
	z-index: 996;
}
#info{
	border-left: 10px solid #2B8FC4;
	list-style: none;
}
.li-navbar>a:hover{
	color: #2B8FC4;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
	background-color: white;
	color: #2B8FC4;
}
/* ================ NAVBAR ================  */
nav{
	background-color: #212121;
}
header{
	height: 100vh;
}
@media only screen and (min-width: 993px) {

	.div-padding{
		padding:  35px;
	}
/* ================ NAVBAR ================  */
	#navbar{
		border-top: 0;
		box-shadow: 0 5px 4px rgba(22, 22, 22,.3);
	}
	.navbar-fixed{
		top: -93px;
	}
	#logo{
		width: 180px;
		margin-left: 10px;
		margin-top: 10px;
	}

	#triangle-up {
		margin: 0 auto;
		width: 0;
		height: 0;
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-bottom: 30px solid #212121;
	}
	.sticky-nav{
		top: 0;
	}
	.navbar-fixed nav{
		position: relative;
	}
	/* ================ HEADER ================  */
	.icon-navbar{
		padding-right: 5px;
		font-size: 22px;
	}
	.link-navbar{
		font-size: 20px;
	}

	#header{
	    z-index: -1;
	    background-color: #2B8FC4;
	    width: 100%;
	    min-height: 100%;
	    height: 100vh;
	}


	/* ================ SOBRE NOS ================  */
	#sobrenos{
		background-color: white;
		margin: 0;
		padding-bottom: 10px;
	}
	#hr-title-left{
		margin-top: 20px;
		width: 30%;
		border: 2px	solid #212121;
	}
	#hr-title-right{
		border: 2px	solid #212121;
		width: 30%;
		margin-top: 20px;
	}

	#sobrenos-title{
		margin-left: 0;
		margin-top: 40px;
		margin-bottom: 60px;
		position: relative;
		top: 30px;
	}
	#sobrenos-content{
		font-size: 18px;
		text-align: justify;
	}
	.card-box{
		height: 380px;
	}
	.hr-down{
		border: none;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	#parallax-sobrenos{
		height: 200px;
	}
	/* ================ Serviços =============== */
	#servicos{
		background-color: #ffff;
		margin: 0;
	}
	#hr-servico-left{
		margin-top: 20px;
		width: 30%;
		border: 1.5px	solid #212121;
	}
	#hr-servico-right{
		border: 1.5px	solid #212121;
		width: 30%;
		margin-top: 20px;
	}
	.card{
		background-color: rgba(255,255,255,0);
		box-shadow: none;
	}
	.card .card-title{
		font-size: 28px;
		margin-top: -10px;
	}
	#hr-end-servico{
		margin-top: 40px;
		border: 1px	solid #212121;
	}
	.box-servico{
		background-color: #2B8FC4;
		padding: 30px;
	}
	.icon-servico{
		color: #ffff;
		font-size: 120px;
	}
	#slogan-servico{
		margin-top: 50px;
		position: relative;
		bottom: 30px;
	}

	/* ================ o que procura? ================= */
	#parallax-oqueprocura{
		height: 220px;

		z-index: 1;
	}
	.collapsible{
		border: none;
		margin: 0;
	}
	.collapsible-header{
		background-color: #212121;.
		width: 30%;
		border: none;
	}
	.collapsible-body{
		border: none;
		background-color: white;
	}
	.icon-duvida{
		font-size: 120px;
		color: #2B8FC4; 
	}
	/* ================ PARCEIROS =============== */

	#parceiros-title{
		position: relative;
		top: 30px;
		margin-left: 30px;
		bottom: 30px;
		border-left: 5px solid #2b8fc4;
		padding-left: 7px;
	}
	#parceiros-icon{
		margin-bottom: 50px;
		margin-top: 40px;
	}
	.parceiro{
		margin-top: 40px;
		padding: 30px;
	}
	.parceiro-img{
		width: 40%;
	}

	/* =============== CONTATO ================ */
	#div-contato{
		margin-top: 10px;
		width: 100%;
		background-color: white;
		margin-bottom: 0;
	}
	#form-contato{
		margin-bottom: 70px;
	}
	#info{
		margin-top: 80px;
		margin-left: 60px;
	}
	.btn, .btn-large, .btn-small{
		background-color: #2B8FC4;
	}
	#map{
		width: 100%;
	}
	.icon-contato{
		font-size: 25px;
		position: relative;
		vertical-align: .125em;
	}
	.info-date{
		margin-top: 10px;
	}

	/* ================ FOOTER ================  */

	.page-footer{
		background-color: #212121;
		padding:  0;
	}
	.footer-copyright{
		box-shadow: 2px 2px 5px 4px rgba(22, 22, 22,.3);
		
	}
	.icon-footer{
		font-size: 20px;	
		margin-right: 10px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	#navbar{
		border-top: 0;
		box-shadow: 0 5px 4px rgba(22, 22, 22,.3);
	}
	.navbar-fixed{
		top: -93px;
	}
	#logo{
		width: 180px;
		margin-left: 10px;
		margin-top: 5px;
	}

	#triangle-up {
		margin: 0 auto;
		width: 0;
		height: 0;
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-bottom: 30px solid #212121;
	}
	.sticky-nav{
		top: 0;
	}
	.navbar-fixed nav{
		position: relative;
	}

	/* ================ HEADER ================  */
	#header{
	    z-index: -1;
	    background-color: #2B8FC4;
	    width: 100%;
	    min-height: 100%;
	    height: 100vh;
	}


	/* ================ SOBRE NOS ================  */
	#sobrenos{
		height: 220vh;
		background-color: white;
		margin: 0;
		padding-bottom: 10px;
	}
	#hr-title-left{
		margin-top: 20px;
		width: 30%;
		border: 2px	solid #212121;
	}
	#hr-title-right{
		border: 2px	solid #212121;
		width: 30%;
		margin-top: 20px;
	}

	#sobrenos-title{
		margin-left: 0;
		margin-top: 10px;
		margin-bottom: 60px;
		position: relative;
		top: 30px;
	}
	#sobrenos-content{
		font-size: 18px;
		text-align: justify;
	}
	.card-box{
		height: 300px;
		margin-bottom: 15px;
	}
	.hr-down{
		border: none;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#parallax-sobrenos{
		height: 150px;
	}
	
	/* ================ Serviços =============== */
	#servicos{
		height: 140vh;
		background-color: #ffff;
		margin: 0;
	}
	#parceiros-title{
		margin-top: 20px;
	}
	.card{
		background-color: rgba(255,255,255,0);
		box-shadow: none;
	}
	.card .card-title{
		font-size: 28px;
		margin-top: -10px;
	}
	#hr-end-servico{
		margin-top: 40px;
		border: 1px	solid #212121;
	}
	.box-servico{
		background-color: #2B8FC4;
		padding: 30px;
	}
	.icon-servico{
		color: #ffff;
		font-size: 120px;
	}
	#slogan-servico{
		margin-top: 50px;
		position: relative;
	}

	/* ================ o que procura? ================= */
	.parallax-container .parallax img{
		z-index: -1;
		filter: brightness(20%);
	}
	#parallax-oqueprocura{
		height: 200px;

		z-index: 1;
	}
	.collapsible{
		border: none;
		margin: 0;
	}
	.collapsible-header{
		background-color: #212121;.
		width: 30%;
		border: none;
	}
	.collapsible-body{
		border: none;
		background-color: white;
	}
	.icon-duvida{
		font-size: 120px;
		color: #2B8FC4; 
	}
	/* ================ PARCEIROS =============== */
	#parceiros-title{
		position: relative;
		top: 20px;
	}
	#hr-start-parceiros{
		border: 1px	solid #FFFF;
		margin-top: 50px;
		
	}
	#hr-end-parceiros{
		border: 1px	solid #FFFF;
		margin-bottom: 50px;
		
	}
	/* =============== CONTATO ================ */
	#div-contato{
		width: 100%;
		height: 130vh;
		background-color: white;
		margin-bottom: 0;
	}
	#info{
		margin-top: 80px;
		margin-left: 60px;
	}
	.btn, .btn-large, .btn-small{
		background-color: #2B8FC4;
	}
	.icon-contato{
		font-size: 25px;
		position: relative;
		
	}
	.info-date{
		margin-top: 0px;
	}

	/* ================ FOOTER ================  */

	.page-footer{
		background-color: #212121;
		padding:  0;
	}
	.footer-copyright{
		box-shadow: 2px 2px 5px 4px rgba(22, 22, 22,.3);
		
	}
	.icon-footer{
		font-size: 20px;	
		margin-right: 10px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 600px){
	/* ================ NAVBAR ================  */
	#navbar{
		border-top: 0;
		box-shadow: 0 5px 4px rgba(22, 22, 22,.3);
	}
	.navbar-fixed{
		top: -85px;
	}
	#logo{
		width: 150px;
		margin-top: 7px;
	}

	#triangle-up {
		margin: 0 auto;
		width: 0;
		height: 0;
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-bottom: 30px solid #212121;
	}
	.sticky-nav{
		top: 0;
	}
	.navbar-fixed nav{
		position: relative;
	}
	/* ================ HEADER ================  */
	#header{
	    z-index: -1;
	    background-color: #2B8FC4;
	    width: 100%;
	    min-height: 100%;
	    height: 100vh;
	}


	/* ================ SOBRE NOS ================  */
	#sobrenos{
		background-color: white;
		margin: 0;
		padding-bottom: 10px;
	}
	#hr-title-left{
		margin-top: 20px;
		width: 10%;
		border: 2px	solid #212121;
	}
	#hr-title-right{
		border: 2px	solid #212121;
		width: 10%;
		margin-top: 20px;
	}

	#sobrenos-title{
		margin-left: 0;
		margin-top: 30px;
		margin-bottom: 60px;
		position: relative;
		top: 30px;
	}
	.card-sobrenos{
		padding-bottom: 10px;
	}
	.subtitle-sobrenos{
		margin-top: 0;
	}
	.card .card-content{
		padding-top: 0;
	}
	#sobrenos-img{
		width: 300px;
	}
	.card-box{
		margin-bottom: 10px;
	}
	.hr-down{
		border: none;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#parallax-sobrenos{
		height: 150px;
	}
	
	/* ================ Serviços =============== */
	#servicos{
		background-color: #ffff;
		margin: 0;
	}
	#hr-servico-left{
		margin-top: 20px;
		width: 0;
		border: none;
	}
	#hr-servico-right{
		border: none;
		width: 0;
		margin-top: 20px;
	}
	.card{
		background-color: rgba(255,255,255,0);
		box-shadow: none;
	}
	.card .card-title{
		font-size: 25px;
		margin-top: -10px;
	}
	#hr-end-servico{
		margin-top: 40px;
		border: 1px	solid #212121;
	}
	.box-servico{
		background-color: #2B8FC4;
		padding: 25px;
	}
	.icon-servico{
		color: #ffff;
		font-size: 80px;
	}
	#slogan-servico{
		margin-top: 20px;
		position: relative;
		padding-bottom: 10px;
	}

	/* ================ o que procura? ================= */

	#parallax-oqueprocura{
		height: 250px;
		z-index: 1;
	}
	#titleoqueprocura{
		margin-top:  20px;
		font-size: 45px;
	}
	.card .card-content .card-title{
		margin-top: 5px;
	}
	.collapsible{
		border: none;
		margin: 0;
	}
	.collapsible-header{
		background-color: #212121;.
		width: 30%;
		border: none;
	}
	.collapsible-body{
		border: none;
		background-color: white;
	}
	.icon-duvida{
		font-size: 120px;
		color: #2B8FC4; 
	}
	/* ================ PARCEIROS =============== */
	#parceiros-title{
		position: relative;
		top: 20px;
	}
	#hr-start-parceiros{
		border: 1px	solid #FFFF;
		margin-top: 30px;
		
	}
	#hr-end-parceiros{
		border: 1px	solid #FFFF;
		margin-bottom: 30px;
		
	}
	/* =============== CONTATO ================ */
	#div-contato{
		margin-top: 10px;
		width: 100%;
		background-color: white;
		margin-bottom: 0;
	}
	#title-contato{
		margin-top: 20px;
	}
	#info{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.icon-contato{
		font-size: 23px;
		bottom: -10px;
		position: relative;
		
	}
	.info-date{
		margin-top: 20px;
		font-size: 15px;
	}

	/* ================ FOOTER ================  */

	.page-footer{
		background-color: #212121;
		padding:  0;
	}
	.footer-copyright{
		box-shadow: 2px 2px 5px 4px rgba(22, 22, 22,.3);
		
	}
	.icon-footer{
		font-size: 18px;	
		margin-right: 10px;
	}
}
