/* ================ GERAL ================  */
@font-face {
     font-family: Nightmare_Codehack;
     src: local(./fonts/Nightmare_Codehack.otf), url(Nightmare_Codehack.otf);
}
*{
	margin:  0;
	padding: 0;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #3D3D3D;
}

main {
	flex: 1 0 auto;
}

/* ================ NAVBAR ================  */
nav{
	background-color: #3D3D3D;
}
#navbar{
	border-top: 0;
	box-shadow: 0 5px 4px rgba(22, 22, 22,.3);
}
#logo{
	width: 180px;
	margin-left: 10px;
	margin-top: 5px;
}

#triangle-up {
	margin: 0 auto;
	margin-top: -28px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 30px solid #3D3D3D;
}

/* ================ HEADER ================  */
#header{
    z-index: -1;
    background-color: #2B8FC4;
    width: 100%;
    min-height: 100%;
    height: 585px;
}





/* ================ SOBRE NOS ================  */
#hr-title-left{
	margin-top: 20px;
	width: 30%;
	border: 1px	solid white;
}
#hr-title-right{
	border: 1px	solid white;
	width: 30%;
	margin-top: 20px;
}

#sobrenos{
	height: 301px;
	background-color: #3D3D3D;
	margin: 0;
	padding-bottom: 10px;
}
#sobrenos-title{
	margin-left: 0;
	margin-top: 0px;
	margin-bottom: 80px;
	position: relative;
	top: 40px;
}
#sobrenos-content{
	font-size: 18px;
	text-align: justify;
}
#sobrenos-img{
	width: 300px;
}
#hr-end-sobre{
	margin-top: 10px;	
	margin-bottom: 10px;	
}
#parallax-sobrenos{
	margin-top: 30px;
	height: 300px;
}
/* ================ FOOTER ================  */

.page-footer{
	background-color: #3D3D3D;
}
