/* ================ GERAL ================  */
@font-face {
     font-family: Nightmare_Codehack;
     src: local(./fonts/Nightmare_Codehack.otf), url(Nightmare_Codehack.otf);
}
*{
	margin:  0;
	padding: 0;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #3D3D3D;
}

main {
	flex: 1 0 auto;
}
.colorbluesite-text{
	color: #2B8FC4;
}
.colorbluesite-background{
	color: #2B8FC4;
}
.colorblacksite-text{
	color: #3D3D3D;
}
.reveal1, .reveal2, .reveal3{
	opacity: 0;
}

/* ================ NAVBAR ================  */
nav{
	background-color: #3D3D3D;
}
#navbar{
	border-top: 0;
	box-shadow: 0 5px 4px rgba(22, 22, 22,.3);
}
#logo{
	width: 180px;
	margin-left: 10px;
	margin-top: 5px;
}

#triangle-up {
	margin: 0 auto;
	margin-top: -28px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 30px solid #3D3D3D;
}
.sticky-nav{
	top: 0;
}
.navbar-fixed nav{
	position: relative;
}
.sidenav{
	z-index: 999;
}
.sidenav-overlay{
	z-index: 996;
}
/* ================ HEADER ================  */
#header{
    z-index: -1;
    background-color: #2B8FC4;
    width: 100%;
    min-height: 100%;
    height: 615px;
}


/* ================ SOBRE NOS ================  */
#sobrenos{
	height: 700px;
	background-color: white;
	margin: 0;
	padding-bottom: 10px;
}
#hr-title-left{
	margin-top: 20px;
	width: 30%;
	border: 2px	solid #3D3D3D;
}
#hr-title-right{
	border: 2px	solid #3D3D3D;
	width: 30%;
	margin-top: 20px;
}

#sobrenos-title{
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 60px;
	position: relative;
	top: 30px;
}
#sobrenos-content{
	font-size: 18px;
	text-align: justify;
}
#sobrenos-img{
	width: 300px;
}

.hr-down{
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
#cards-sobre{
}
#parallax-sobrenos{
	height: 200px;
}
.card-box{
	height: 380px;
}

/* ================ Serviços =============== */
#servicos{
	height: 600px;
	background-color: #ffff;
	margin: 0;
}
#hr-servico-left{
	margin-top: 20px;
	width: 30%;
	border: 1px	solid #3D3D3D;
}
#hr-servico-right{
	border: 1px	solid #3D3D3D;
	width: 30%;
	margin-top: 20px;
}
.card{
	background-color: rgba(255,255,255,0);
	box-shadow: none;
}
.card .card-title{
	font-size: 28px;
	margin-top: -10px;
}
#hr-end-servico{
	margin-top: 40px;
	border: 1px	solid #3D3D3D;
}
.box-servico{
	background-color: #ffff;
}

/* ================ o que procura? ================= */
.parallax-container .parallax img{
	z-index: -1;
	filter: brightness(20%);
}
#parallax-oqueprocura{
	height: 200px;

	z-index: 1;
}
.collapsible{
	border: none;
}
.collapsible-header{
	background-color: #3D3D3D;.
	width: 30%;
	border: none;
}
.collapsible-body{
	border: none;
	background-color: white;
}
.icon-duvida{
	font-size: 120px;
	color: #2B8FC4; 
}
/* ================ PARCEIROS =============== */
#parceiros-title{
	position: relative;
	top: 20px;
}
#hr-start-parceiros{
	border: 1px	solid #FFFF;
	margin-top: 70px;
	
}
#hr-end-parceiros{
	border: 1px	solid #FFFF;
	margin-bottom: 70px;
	
}
/* =============== CONTATO ================ */
#div-contato{
	margin-top: 10px;
	width: 100%;
	height: 520px;
	background-color: white;
}
#info{
	margin-top: 80px;
	margin-left: 60px;
}
.btn, .btn-large, .btn-small{
	background-color: #2B8FC4;
}
#map{
	width: 100%;
}
.icon-contato{
	font-size: 25px;
	bottom: -18px;
	position: relative;
	
}
.info-date{
	margin-top: 20px;
}

/* ================ FOOTER ================  */

.page-footer{
	background-color: #3D3D3D;
}
.footer-copyright{
	box-shadow: 2px 2px 5px 4px rgba(22, 22, 22,.3);
	
}
.icon-footer{
	font-size: 20px;	
	margin-right: 10px;
}
@media screen and (max-width: 601px) {
	/* ================ NAVBAR ================  */
	#navbar{
		border-top: 0;
		box-shadow: 0 5px 4px rgba(22, 22, 22,.3);
	}
	#logo{
		width: 150px;
		margin-top: 10px;
	}

	#triangle-up {
		margin: 0 auto;
		margin-top: -28px;
		width: 0;
		height: 0;
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-bottom: 30px solid #3D3D3D;
	}
	/* ================ HEADER ================  */
	#header{
	    z-index: -1;
	    background-color: #2B8FC4;
	    width: 100%;
	    min-height: 100%;
	    height: 300px;
	}


	/* ================ SOBRE NOS ================  */
	#sobrenos{
		height: 1480px;
		background-color: white;
		margin: 0;
		padding-bottom: 10px;
	}
	#hr-title-left{
		margin-top: 20px;
		width: 20%;
		border: 2px	solid #3D3D3D;
	}
	#hr-title-right{
		border: 2px	solid #3D3D3D;
		width: 20%;
		margin-top: 20px;
	}
	#sobrenos-title{
		margin-left: 0;
		margin-top: 10px;
		position: relative;
		top: 30px;
	}
	#sobrenos-content{
		font-size: 18px;
		text-align: justify;
	}
	.hr-down{
		border: none;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#parallax-sobrenos{
		height: 200px;
	}
	.card-box{
		margin-top: 20px;
		height: 330px;
	}

	/* ================ Serviços =============== */
	#servicos{
		height: 1000px;
		background-color: #ffff;
		margin: 0;
	}
	#hr-servico-left{
		margin-top: 20px;
		width: 20%;
		border: 2px	solid #3D3D3D;
	}
	#hr-servico-right{
		border: 2px	solid #3D3D3D;
		width: 20%;
		margin-top: 20px;
	}
	.responsive-img{
		width: 200px;
	}
	.card{
		background-color: rgba(255,255,255,0);
		box-shadow: none;
	}
	.card .card-title{
		font-size: 28px;
	}
	#hr-end-servico{
		margin-top: 40px;
		border: 1px	solid #3D3D3D;
	}
	.box-servico{
		margin-top: 20px;
		background-color: #ffff;
	}

	/* ================ o que procura? ================= */
	.parallax-container .parallax img{
		z-index: -1;
		filter: brightness(20%);
		margin-top: 0;
	}
	#parallax-oqueprocura{
		height: 240px;
		z-index: 1;
	}
	.collapsible{
		border: none;
	}
	.collapsible-header{
		background-color: #3D3D3D;.
		width: 30%;
		border: none;
		margin-top: 0;
	}
	.collapsible-body{
		border: none;
		background-color: white;
	}
	.icon-duvida{
		font-size: 120px;
		color: #2B8FC4; 
	}
	#titleoqueprocura{
		margin-top: 10px;
	}
	/* ================ PARCEIROS =============== */
	#parceiros-title{
		position: relative;
	}
	#hr-start-parceiros{
		border: 1px	solid #FFFF;
		margin-top: 50px;
		
	}
	#hr-end-parceiros{
		border: 1px	solid #FFFF;
		margin-bottom: 50px;
		
	}
	/* =============== CONTATO ================ */
	#div-contato{
		margin-top: 10px;
		margin-bottom: -10px;
		width: 100%;
		height: 840px;
		background-color: white;
	}
	#info{
		margin-top: 30px;
	}
	.btn, .btn-large, .btn-small{
		background-color: #2B8FC4;
	}
	#map{
		width: 100%;
	}
	.icon-contato{
		font-size: 25px;
		bottom: -18px;
		position: relative;
		
	}
	.info-date{
		margin-top: 20px;
	}

	/* ================ FOOTER ================  */

	.page-footer{
		background-color: #3D3D3D;
	}
	.footer-copyright{
		box-shadow: 2px 2px 5px 4px rgba(22, 22, 22,.3);
		
	}
	.icon-footer{
		font-size: 20px;	
		margin-right: 10px;
	}

}